<form (ngSubmit)="onSubmit()" [formGroup]="cursoForm">
  <label>Nombre</label>
  <input type="text" name="name" [formControl]="cursoForm.controls['name']"/>
  <br/>
  <label>Max Alumnos</label>
  <input type="text" name="max_alumnos" required pattern="[0-9]+" [formControl]="cursoForm.controls['max_alumnos']"/>
  <input type="submit" value="Enviar" [disabled]="!cursoForm.valid"/>
</form>

<div *ngIf=" cursoForm.invalid && cursoForm.touched">
  Formulario Invalido!!!!
</div>
