<div [ngStyle]="style" (click)="onClick()">
  {{curso.name | uppercase}} <span *ngIf="curso.max_alumnos > 20"> - Alumnos: {{curso.max_alumnos}}</span>
  <div [ngSwitch]="curso.max_alumnos">
      <p *ngSwitchCase="20">Dificil acceso</p>
      <p *ngSwitchCase="30">Fácil acceso</p>
      <p *ngSwitchDefault>Sin información del acceso</p>
  </div>
  <p>{{ curso.title | cursoPipe}}</p>
</div>
