<div *ngFor="let curso of cursos" [ngStyle]="style">
  {{curso.name}} <span *ngIf="curso.max_alumnos > 20"> - Alumnos: {{curso.max_alumnos}}</span>
  <div [ngSwitch]="curso.max_alumnos">
      <p *ngSwitchCase="20">Dificil acceso</p>
      <p *ngSwitchCase="30">Fácil acceso</p>
      <p *ngSwitchDefault>Sin información del acceso</p>
  </div>
</div>