<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <label>Nombre</label>
  <input type="text" name="name" [(ngModel)]="nameField" required minlength="5"/>
  <br/>
  <label>Max Alumnos</label>
  <input type="text" name="max_alumnos" [(ngModel)]="alumnosField" required pattern="[0-9]+"/>
  <input type="submit" value="Enviar" [disabled]="!formulario.form.valid"/>
</form>

<div *ngIf=" formulario.form.invalid && formulario.form.touched">
  Formulario Invalido!!!!
</div>
