<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h2>Menu</h2>
  <a routerLink="cursos" routerLinkActive="active">Cursos</a> -
  <a routerLink="new-curso" routerLinkActive="active">Nuevo curso</a>
  <router-outlet></router-outlet>
</div>

